*.elc
.last-package-update-day        
.tags
abbrev_defs
auto-save-list
backups
eln-cache       
elpa
ido.last
ido.last~
network-security.data   
old
places
projectile-bookmarks.eld
secrets.el
semanticdb
tramp
transient
.cache
.lsp-session-v1
load.el
